version: "2"
authtoken: <auth_token>

# version: "3"
# agent:
#   authtoken: <auth_token>
#   log: false
#   log_level: debug
# # on_http_request:
# #   - actions:
# #       - type: "log"
# #         config:
# #           metadata:
# #             message: "Log action executed."
# #             endpoint_id: "${endpoint.id}"
# endpoints:
#   - name: basic
#     url: <domain>
#     upstream:
#       url: <port>